:root {
    --background: #ffffff;
    --light: #545454;
}

html {
    font-size: 62.5%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 768px){
    html{
        align-items: center;
    }
    
}
*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: var(--light);
}
body {
    flex-grow: 1;
    font-size: 1.6rem;
    background-color: var(--background);
    width: 100%;
    max-width: 70rem;
    max-height: 50rem;
}





header {
    font-size: 1.2rem;
    overflow: hidden;
    margin: 4rem 0;
    text-align: center;
}
@media only screen and (min-width: 768px){
    header {
        margin: 0 0 2rem 0;
    }
}
header > *{
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} 
header h1{
    margin: 1rem;
}





main {
    padding: 1rem;
}
.hi {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
}
.dino-sprite {
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    height: 50px;
    margin-left: 5%;
}
.game {
    width: 100%;
    max-width: 90rem;
    height: 20rem;
    opacity: 0;
    box-shadow: -2px 5px 13px -3px rgba(0,0,0,0.4);
    padding: 1rem;
}
.game > div {
    position: relative;
    width: 100%;
    height: 100%;
}
.sky{
    height: 100%;
    position: relative;
}
.ground{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-position: 0px 100%;
    background-image: url('./data/ground.png');
}
.cact {
    position: absolute;
    bottom: 0;
    right: -40px;
    background-image: url('./data/cact.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 50px;
    height: 105px;
}




footer {
    margin-top: 1rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ui-button {
    background-color: transparent;
    border: var(--light) solid 3px;
    padding: 1rem 1.5rem;
    margin: 0 1rem;
    outline: none;
    cursor: pointer;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    user-select: none;
}
.ui-button.play {
    font-size: 3rem;
}
.game-controls{
    display: none;
}
@media only screen and (max-width: 768px){
    .mobile-mode {
        display: block;
    }
}




.floating {
    animation: floating 1s infinite;
}
@keyframes floating {
    0%{
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }    
}

.jump {
    animation: jump 0.5s linear;
}
@keyframes jump {
    0%{
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-130px);
    }  

    100% {
        transform: translateY(0px);
    }    
}

.close {
    animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-bottom {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(1000px);
      opacity: 0;
      position: fixed;
    }
  }

  @keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-top {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes scale-in-center {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes ground-move {
    to {
      background-position: -1178px 100%;
    }
  }

  @keyframes cact-move {
    to {
      transform: translateX(-1178px);
    }
  }